<div ng-controller="Page1Controller">

    <h1>{{hello}}</h1>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="$root.eventTrackButtonSga('Button 1')">Button 1</button>
        <button type="button" class="btn btn-default" ng-click="$root.eventTrackButtonSga('Button 2')">Button 2</button>
        <button type="button" class="btn btn-default" ng-click="$root.eventTrackButtonSga('Button 3')">Button 3</button>
    </div>

</div>

